.DS_STORE
external/
textures/
models/
zig-cache/
zig-out/
.task/
shaders/compiled_output/*
Session.vim
imgui.ini
.VSCodeCounter/
.vscode/
.nvim/
*.*~
/.xmake/
/src/c/.cache/
/src/c/.projectile
/src/c/.xmake/
/src/c/build/
/src/c/compile_commands.json
